.grid-flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.list-table{
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}